@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

body{
    font-family: 'Protest Guerrilla', sans-serif;
    background-color: #191D88;
}
/*Contenedor padre con sus propiedades*/
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.titulo{
    color: white;
    font-size: 32px
}
.subtitulo{
    color: white;
    font-size: 20px;
}
.tarjetas{
    display: flex;
    gap: 20px;
}

.tarjeta-mokepon{
    box-sizing: border-box;
    width: 250px;
    height: 170px;
    padding: 10px;
    border-radius: 20px;
    background-color:#337CCF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: none;
}
.tarjeta-mokepon img {
    width: 150px;
    border-radius: 100px;
    padding: 5px;
    
}

.btn-seleccionar{
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 3px solid #FFC436;
    border-radius: 20px;
    background: transparent;
    color: white;
    font-family: 'Protest Guerrilla', sans-serif;
    margin: 20px;
}