@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

body{
    font-family: 'Protest Guerrilla', sans-serif;
    background-color: #191D88;
}
/*Contenedor padre con sus propiedades*/
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.titulo{
    color: white;
    font-size: 32px
}
.subtitulo{
    color: white;
    font-size: 20px;
}
.tarjeta-mokepon{
    box-sizing: border-box;
    width: 250px;
    height: 170px;
    padding: 10px;
    border-radius: 20px;
    background-color:#337CCF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta-mokepon img {
    width: 150px;
    border-radius: 100px;
    padding: 5px;
    
}
.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 20px;
}

input{
    display: none;
}


.btn-seleccionar{
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 3px solid #FFC436;
    border-radius: 20px;
    background: transparent;
    color: white;
    font-family: 'Protest Guerrilla', sans-serif;
    margin: 20px;
}

/*SEGUNDA INTERFAZ o VISTA*/
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}
.botones-ataque{
    box-sizing: border-box;
    background-color:#337CCF;
    border-radius: 20px;
    width: 100px;
    border-color: transparent;
    margin: 5px;
    color: white;
    font-family: 'Protest Guerrilla', sans-serif;

}
#mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    background-color: #FFC436;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
#boton-reiniciar{
    border: 3px solid #337CCF;
    border-radius: 20px;
    background: transparent;
    color: #191D88;
    font-family: 'Protest Guerrilla', sans-serif;
    margin: 20px;
    width: 100px;
}

.marcador-ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    color: #337CCF;
}
#vidas-jugador, #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
}
.ataque-jugador, .ataque-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ResponsiveDesing */
@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
  }